.select-block label,
.input-block label,
.textarea-block label{
    font-size: 1.4rem;
    color: var(--color-text-complement);
}

.input-block input,
.select-block select,
.textarea-block textarea {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-input-background);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}

.textarea-block textarea {
    padding: 1.2rem 1.6rem;
    height: 16rem;

    resize: vertical; /* redimensionar só na vertical a caixa de texto*/
}

.input-block,
.textarea-block{
    position: relative; /*posicionamento relativo*/
}

.input-block:focus-within::after,
.textarea-block:focus-within::after{ /*focus within algum elemento que for em foco elemento selecionado procurar input-block e cria um elemento hmtl somento quando estiver selecionado*/
    content:"";

    width: calc(100% - 3.2rem);
    height: 2px;
    background: var(--color-primary-light);
    position:absolute; /* posicionamento absoluto é necessário novo contexto/nova folha de papel por isso temos que definir seus posicionamentos*/
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}

label small {
    font-size: 1.2rem;
    padding-left: 1.2rem;
    color: var(--color-small-info);
}